<!-- templates/components/menu.html -->
{% load dashboard_tags %}
<nav>
    <ul>
        {{path}}
        {% for item in menu  %}
            
            {% if item.children.exists %}
                <li>
                    <details 
                        name="main_sub_menu"
                    >
                        <summary
                            class="flex items-center justify-between group p-2  relative hover:bg-gray-100 cursor-pointer"
                        >
                            <div class="flex">
                                <span class="material-symbols-rounded ms-2 me-4 group-hover:text-rose-500">
                                    top_panel_open
                                </span>
                                <span class="font-semibold">
                                    {{item.name}}
                                </span>
                            </div>
                            <span class="expand_more material-symbols-rounded transform transition-transform duration-100 group-open:rotate-180">
                                expand_more
                            </span>
                        </summary>
                        {% for child in item.children.all  %}
                            {% include './menu_link.html' with item=child class_name='bg-gray-50' %}
                        {% endfor %}
                    </details>
                    <details 
                        name="main_sub_menu"
                    >
                        <summary
                            class="flex items-center justify-between group p-2  relative hover:bg-gray-100"
                        >
                            <div class="flex">
                                <span class="material-symbols-rounded ms-2 me-4 group-hover:text-rose-500">
                                    top_panel_open
                                </span>
                                <span class="font-semibold">
                                    {{item.name}}
                                </span>
                            </div>
                            <span class="expand_more material-symbols-rounded transform transition-transform duration-100 group-open:rotate-180">
                                expand_more
                            </span>
                        </summary>
                        {% for child in item.children.all  %}
                            {% include './menu_link.html' with item=child class_name='bg-gray-50' %}
                        {% endfor %}
                    </details>
                </li>
            {% else %}
                <li>
                    {% include './menu_link.html' with item=item %}
                </li>
            {% endif %}
        {% endfor %}
        {% comment %} {% for item in menu.items.filter parent__isnull=True order_by='order' %}
            <li class="text-white">
                <a href="{% if item.is_dynamic %}{% url item.url %}{% else %}{{ item.url }}{% endif %}" target="{{ item.target }}" class="flex items-center p-2">
                    <i class="{{ item.icon }}"></i>
                    <span>{{ item.name }}</span>
                </a>
                {% if item.children.exists %}
                    <ul class="ml-4">
                        {% for child in item.children.all %}
                            <li class="text-white">
                                <a href="{% if child.is_dynamic %}{% url child.url %}{% else %}{{ child.url }}{% endif %}" target="{{ child.target }}" class="flex items-center p-2">
                                    <i class="{{ child.icon }}"></i>
                                    <span>{{ child.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %} {% endcomment %}
    </ul>
</nav>

<style>
    details[open] summary {
        background-color: #f3f4f6;
    }
    details[open] summary div span:first-child {
        color: red;
    }
    details[open] summary .expand_more {
        transform: rotate(180deg);
    }
</style>